header {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  padding: 2rem;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

main .card h3 {
  text-align: left;
}

.card li {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  max-width: 37.5rem;
  margin: 0 auto;
}
.card img {
  border-radius: 1rem;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.15);
}

.card p {
  max-width: 37.5rem;
  margin: 3rem auto;
}

@media screen and (max-width:1280px) { 

main {
  grid-template-columns: repeat(2, 1fr);
}
.card:last-child {
  grid-column: 1/-1;
}
}

@media screen and (max-width:875px) { 

  main {
    grid-template-columns: 1fr;
  }
  }