@media screen and (min-width:480px) {
  nav {
    flex-flow: row nowrap;
    border-top: 1px solid #444;
  }
  main {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  main h2 {
    width: 100%;
    grid-column: 1/-1;
  }
  .card:first-of-type {
    grid-column: 1/3;
  }
}